/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
}
.banner{
    width: 100%;
    height:100vh;
    position: relative;
    overflow: hidden;
}
.banner__describe{
    position: absolute;
    top: 5%;
    left: 5%;
    right: 20%;
    height: 160px;
    display: flex;
    flex-wrap: wrap;

}

.banner__describe-id{
    font-size: 3rem;
    line-height: 130px;
    min-width: 130px;
    text-align: center;
    color: #c7c2c2;
    border: 1px solid #ddd;
}
.banner__describe-title{
    min-width: 300px;
    text-align: center;
    line-height: 130px;
    font-size: 2.5rem;
    padding: 0 10px ;
    color: #000;
    letter-spacing: .5px;
    background-color: #F2CB05;
}
.banner__describe-decription{
    color: #ddd;
    font-size: 1.6rem;
    letter-spacing: .3px;
    padding: 25px 10px 3px 10px ;
}

.banner__img{
    position: absolute;
    height: 100vh;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    filter: brightness(0.5) grayscale(0.5);
    z-index: -1;
}

.banner__dots-container{
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
}

.banner__dots-container span{
    font-size: 2rem;
    padding: 9px;
    color: #fff;
    transition: .2s linear;
    margin: 5px;
    padding: 5px;
    background-color: rgba(0, 0, 0, .5);
}
.banner__dots-container span.active{
    color: #F2CB05;
}

.banner__learn{
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    color: #000;
    font-size: 2rem;
    border: 1px solid #ddd;
    text-transform: uppercase;
    padding: 10px 20px;
    cursor: pointer;
    transition: .2s linear;
}
.banner__learn:hover{
    background-color: transparent;
    color: #F2CB05;
    border: 1px solid #F2CB05;
}

@media screen and (min-width:800px) {
    .banner__describe-id{
        font-size: 4.5rem;
        line-height: 160px;
        min-width: 160px;
    }
    .banner__describe-title{
        line-height: 160px;
        font-size: 3.5rem;
    }
    .banner__describe-decription{
        font-size: 2rem;
    }
    .banner__dots-container span{
        font-size: 2.3rem;
    }
}

@media screen and (min-width:1200px) {
    .banner__describe-id{
        font-size: 6.5rem;
        line-height: 200px;
        min-width: 200px;
    }
    .banner__describe-title{
        line-height: 200px;
        font-size: 5.5rem;
    }
    .banner__describe-decription{
        font-size: 2.8rem;
    }
    .banner__dots-container span{
        font-size: 2.6rem;
    }
}