/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
}

.banner{
    position: relative;
}

.banner__dots-container{
    height: 30px;
    width: 200px;
    top: 10%;
    left: 10%;
    position: absolute;
}

.banner__dots-container span{
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: 5px;
    background-color: #000;
}

.banner__dots-container span.active{
    background-color:red;
}